.vscode
build
.antlr
*.zip

assembly/experiments/**
!assembly/experiments/atat
!assembly/experiments/intel
!assembly/experiments/**/*.asm
!assembly/experiments/**/*.s

c.c
a.out

docs/doxygen
docs/html
docs/latex

profiling/result*
