.vscode
build
.antlr
*.zip

assembly/experiments/**
!assembly/experiments/atat
!assembly/experiments/intel
!assembly/experiments/**/*.asm
!assembly/experiments/**/*.s

c.c
a.out

Jabukod_syntax-highlighting/.gitignore
Jabukod_syntax-highlighting/assignment.pdf
Jabukod_syntax-highlighting/.vscode
Jabukod_syntax-highlighting/.git
